@import "_import";
@import "_photoswipe";



// vars
$black: black;
$back: #00FF03;
$middle: grey;
$white: white;

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// start of things

//globals
body {
	font-size:100%;
	background-color: $back;
	font-family: 'busnim';
	transition: background-color .8s;
	&.color1 {   background-color: $back; }
	&.color2 {   background-color: $middle; }
	&.color3 {   background-color: $white; }
}

body, html {
	line-height: 1.4;
	overflow-x: hidden;
}

a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
	transition: all 0.3s;
	/*text-shadow: 0px 0px 8px rgba(144, 148, 150, 1);*/
}

a:link {
  color: $black;
}

a:visited {
  color: $black;
}



a:hover {  
  // background: $back;
//   text-shadow: 0px 0px 8px rgba(0, 255, 0, 1);
}
a:focus {
	background-color: transparent;
}

// reset to bold - its 400
h1, h2, h3, h4 {
	font-weight: 400;
}

hr {
	border-top: 0;
	    border-bottom: 1px black solid;
		// display: none;
		    // float: left;
    width: 100%;
}

// grid system :))
.col50 {
	float: left;
	width: 50%;
}
.col70 {
	float: left;
	width: 70%;
}
.col30 {
	float: left;
	width: 30%;
}
.right {
	text-align: right;
}



//layout

header {
	 position: fixed;
	 z-index: 888;
@extend .clearfix;
top: 0;
width: 100%;
padding-bottom: 40px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ff03+0,00ff03+50,00ff03+100&0.65+0,1+50,1+80,0+100 */
background: -moz-linear-gradient(top, rgba(0,255,3,0.65) 0%, rgba(0,255,3,1) 50%, rgba(0,255,3,1) 80%, rgba(0,255,3,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,255,3,0.65) 0%,rgba(0,255,3,1) 50%,rgba(0,255,3,1) 80%,rgba(0,255,3,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,255,3,0.65) 0%,rgba(0,255,3,1) 50%,rgba(0,255,3,1) 80%,rgba(0,255,3,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a600ff03', endColorstr='#0000ff03',GradientType=0 ); /* IE6-9 */
}


#content {
	    padding: 15% 0 80px 0;
		@extend .clearfix;
}


  img.logo {
   
    width: 98.2%;
    margin-left: 0.9%;
    top: 0;
  }
#menu {
	padding: 0 1%;
}

#menu a {
    color: black;
    width: 10%;
    display: block;
    float: left;
    text-align: left;
	text-decoration: none;

}

#about {
		@extend .clearfix;
	height: 100%;
	height: 100wh;
	padding: 0 1%;
	margin: 100px 0;
	/*p { width: 50%; float: left; padding: 0 1%;}*/
}

.textcontent {
	@extend .clearfix;
	.col50:nth-child(n+1) {
		padding-right: 1%;
	}

	.col50:nth-child(n+2){
		padding-left: 1%;
	}
}


.claim {
	@extend .clearfix;
	padding: 10% 0;
    /* height: 20%; */
		font-size: 4vw;
 text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    color:$back;
    h2 {text-align: center;}
}

.imagemodule {
	@extend .clearfix;
	margin: 100px 0; 
	img {width: 100%;}
	h3 {
		    position: absolute;
    color: $back;
    width: 100%;
    text-align: center;
    /* float: left; */
        font-size: 8vw;
    margin: 0;
	}
}

#program {
	@extend .clearfix;
	width: 100%;
	// margin: 50px 0;
	// margin-left: 1%;
	letter-spacing: -2px;
	font-size: 2rem;
 letter-spacing: 0;
 	h4 {
		letter-spacing: -1px;
		line-height: 1.05;
		margin: 15px 0;
		font-size: 2rem;
	}
	h2 {
		letter-spacing: -1px;

		font-size: 3.5rem;
	}
	h4 {
		letter-spacing: 0px;
		text-transform: uppercase;
		font-size: 1rem;
		margin-bottom: 30px;
		// display: block;
		text-align: center;
		width: auto;
	}

	p {
		letter-spacing: 0;
		// margin-bottom: 15px;
	}
	.gallery_image {
		@extend .clearfix;
		float: left;
		display: block;
		width: 33%; 
		height: auto; 
		img {
			width: 100%; 
					height: auto; 
		}
	}
	.sponsor_images {
		margin-top: 30px;
	}
	.event {

		@extend .clearfix;
		transition: all 0.2s;
		width: 80%;
		margin: 0 auto;
		
		text-align: left;
    	margin-bottom: 2vw;
		transform-origin:  center center;
		font-size: 2.5vw;
		line-height: 1;

		border-radius: 2px;
		border: 1px $black solid;

		&:hover {
				
				transform: skewX(-15deg);
			}
		a {
			@extend .clearfix;
			padding: 20px 20px;
			display: block;
			color: $black;
		}
		.date {
			font-family: "busnim_regular";
			// font-weight: 400;
			letter-spacing: -2px;

		}
		.cycle {
			font-weight: 400;


		}
		.venue {
			font-family: "busnim_regular";
			font-weight: 400;
			letter-spacing: -3px;
			/*font-size: calc(1em - 22px);
			display: inline-block;
			padding: 5px 15px 4px 12px ;
			transform: translateY(-9px);
			border: 1px solid black;
			border-radius: 3px;*/
		}
  	}
}

#programIndex {
	@extend .clearfix;
	width: 100%;
	// margin: 50px 0;
	// margin-left: 1%;
	letter-spacing: -2px;
	font-size: 2rem;
 letter-spacing: 0;


	p {
		letter-spacing: 0;
		// margin-bottom: 15px;
	}
		.done h4 {
			color: grey;
		}
	h4 {
		letter-spacing: 0px;
		text-transform: uppercase;
		font-size: 1rem;
		margin-bottom: 30px;
		// display: block;
		text-align: center;
		width: auto;
	}

	.event {

		@extend .clearfix;
		transition: all 0.2s;
		width: 90%;
		margin: 0 auto;
		
		text-align: left;
    	margin-bottom: 1vw;
		transform-origin:  center center;
		font-size: 2rem;
		line-height: 1;

		// border-bottom: 1px $black solid;

		&.done a {
			color: grey;
		}
		.single span:nth-child(1) {

			font-family: "busnim_regular";
			display: inline-block;
			width: 15vw;
			letter-spacing: -2px;
		}
		.single span:nth-child(2) {

		}
		&:hover {
				
				transform: skewX(-15deg);
			}
		a {
			@extend .clearfix;
			padding: 0;
			display: block;
			color: $black;
		}
		.date {
			font-family: "busnim_regular";
			// font-weight: 400;
			letter-spacing: -2px;

		}
		.cycle {
			font-weight: 400;


		}
		.venue {
			font-family: "busnim_regular";
			font-weight: 400;
			letter-spacing: -3px;
			/*font-size: calc(1em - 22px);
			display: inline-block;
			padding: 5px 15px 4px 12px ;
			transform: translateY(-9px);
			border: 1px solid black;
			border-radius: 3px;*/
		}
  	}	
}


#textcontent {
	@extend .clearfix;

}
.column { width: 100%; padding: 0.9%;

@include min-screen(768px) {
width: 50%; float: left; padding: 0%;
}
}

.column:nth-child(odd) {
	@include min-screen(768px) {
	padding-right: 3%;
	}
}

.column:nth-child(even) {
	@include min-screen(768px) {
	padding-left: 3%;
	}
}

 #mc_embed_signup{ clear:left; width: 100%; }


#mc_embed_signup_scroll label { width: 100%;
display: block;
text-align: center;}

#mce-EMAIL {
	position: relative;
width: 30%;
margin: 20px 35%;
border: 1px solid $black;
color: $back;
background-color: white;
border-radius: 2px;
padding: 5px;
}

#mc-embedded-subscribe {
	transition: all .5s;
	border: 1px solid $black;
	background-color: white;
	color: $black;
	border-radius: 2px;
	width: 20%;
	padding: 10px;
	margin: 0 40%;
}
#mc-embedded-subscribe:hover {
		border: 1px solid $black;
	background-color: $back;
	color: $black;

}



footer {
	padding: 0 0.9%;
	.footerinfo {
		@extend .clearfix;
		padding-top: 15px;
	}
	.sponsors img {
		width: 10%;
	}
}

#stream {
	margin-top: 150px;
    width: 80vw;
    margin-left: 10%;
    height: auto;
    height: 45vw;
	iframe {
		width: 100%;
			height: 100%;
	}
}

.fluidvids {
	z-index: 10;
}
#eventDetail{
	@extend .clearfix;
 letter-spacing: 0;
     z-index: 500;
	 position: relative;
 	h4 {
		letter-spacing: -1px;
		line-height: 1.05;
		margin: 15px 0;
		font-size: 2em;
	}
	h1 {
		letter-spacing: -3px;
		font-size: 5em;
		margin-left: 0.5%;
		a {
			
		}
	}
	p {
		letter-spacing: 0;
		// margin-bottom: 15px;
	}
	.gallery_image {
		@extend .clearfix;
		float: left;
		display: block;
		width: 33%; 
		height: auto; 
		img {
			width: 100%; 
					height: auto; 
		}
	}
	.sponsor_images {
		margin-top: 30px;
	}
	.info {
		@extend .clearfix;
		border: 1px solid $black;
		border-radius: 2px;
		padding: 10px;
		
	}
	.detailpage {
		@extend .clearfix;
		    padding: 0.9%;
	}
	.text p {
		margin-bottom: 15px;
	}
}

.cycleevent {
	margin: 15px 0;
	@extend .clearfix;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid black;
	.cycletitle {
	font-size: 2em;
	margin-bottom: 30px
}
}

.facebook.button {
	display: inline-block;
	width: auto;
	margin: 20px 0;
	padding: 20px;

	border: 1px $black solid;
	border-radius: 2px;
	color: $back;
	a {
		

	}
}

#video iframe { max-height: 60vh;}
#video { max-height: 60vh;}